.devise {

  ul {
    width: 730px;
    display: block;
    margin: 0 auto 30px; 
 
    li {
      display: inline-block;
      padding-right: 25px;
    }

      li:last-child {
        padding-right: 0px;
      }

      
  }

  

}
